#lightning, #lightning-q, #clone, #clone-q, #freeze, #freeze-q {
  background: linear-gradient(
    to top,
    rgba(var(--spell-lightning-dark-rgb)),
    rgba(var(--spell-lightning-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-lightning-dark-rgb)),
    rgba(var(--spell-lightning-light-rgb))
  )
  border-box;
}

#heal, #heal-q {
  background: linear-gradient(
    to top,
    rgba(var(--spell-heal-dark-rgb)),
    rgba(var(--spell-heal-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-heal-dark-rgb)),
    rgba(var(--spell-heal-light-rgb))
  )
  border-box;
}

#rage, #rage-q, #bat, #bat-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-rage-dark-rgb)),
    rgba(var(--spell-rage-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-rage-light-rgb)),
    rgba(var(--spell-rage-dark-rgb))
  )
  border-box;
}

#jump, #jump-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-jump-dark-rgb)),
    rgba(var(--spell-jump-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-jump-dark-rgb)),
    rgba(var(--spell-jump-light-rgb))
  )
  border-box;
}

#invisibility, #invisibility-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-invisibility-dark-rgb)),
    rgba(var(--spell-invisibility-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-invisibility-dark-rgb)),
    rgba(var(--spell-invisibility-light-rgb))
  )
  border-box;
}

#recall, #recall-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-recall-dark-rgb)),
    rgba(var(--spell-recall-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-recall-dark-rgb)),
    rgba(var(--spell-recall-light-rgb))
  )
  border-box;
}

#poison, #poison-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-poison-dark-rgb)),
    rgba(var(--spell-poison-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-poison-dark-rgb)),
    rgba(var(--spell-poison-light-rgb))
  )
  border-box;
}

#earthquake, #earthquake-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-eq-dark-rgb)),
    rgba(var(--spell-eq-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-eq-dark-rgb)),
    rgba(var(--spell-eq-light-rgb))
  )
  border-box;
}

#haste, #haste-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-haste-dark-rgb)),
    rgba(var(--spell-haste-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-haste-dark-rgb)),
    rgba(var(--spell-haste-light-rgb))
  )
  border-box;
}

#skeleton, #skeleton-q {
  background: linear-gradient(
    to top,
    rgb(var(--spell-skeleton-dark-rgb)),
    rgba(var(--spell-skeleton-light-rgb))
  )
  padding-box,
  linear-gradient(
    to top,
    rgba(var(--spell-skeleton-dark-rgb)),
    rgba(var(--spell-skeleton-light-rgb))
  )
  border-box;
}